<!doctype html>
{% load static %}
{% load bootstrap4 %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <title>Django Authentication System - HLAB</title>
    
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />

    {% endblock %}
  </head>
  <body>
    {% block content %}

    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  </body>
</html>